.logo, .navbar li ,.about img,.eps-name,.tags,.submit,.gimme,.all-eps-btn
.icons i,.app-names i{
    cursor: pointer;
}
.navbar li:hover,.about img:hover,.eps-name:hover,.icons i:hover,.app-names i:hover{
 opacity: 0.7;
}
.icons i:hover,.app-names i:hover,.navbar li:hover,.about img:hover,.eps-name:hover{
    transition: opacity 0.5s;
}
.tags:hover{
    transition: color 0.5s;
}
.tags:hover{
    color: #4f5362;
}
.navbar .subscribe:hover,.gimme:hover,.all-eps-btn:hover,.submit:hover{
    opacity: 1;
    box-shadow: 0 4px 2px -2px gray;
}
.navbar .subscribe:hover,.gimme:hover,.all-eps-btn:hover,.submit:hover{
    transition: box-shadow 0.5s;
}
.ep-1 img:hover,.ep-2 img:hover,.ep-3 img:hover,.ep-4 img:hover,.ep-5 img:hover,
.ep-6 img:hover,.ep-7 img:hover,.ep-8 img:hover{
    cursor: pointer;
    transform: scale(1.2);
   
}
.ep-1 img:hover,.ep-2 img:hover,.ep-3 img:hover,.ep-4 img:hover,.ep-5 img:hover,
.ep-6 img:hover,.ep-7 img:hover,.ep-8 img:hover{
transition: transform 0.8s;

}
.ep-1,.ep-2,.ep-3,.ep-4,.ep-5,
.ep-6,.ep-7,.ep-8{
    overflow: hidden;
}